In [2]:
import pandas as pd
import scipy.stats as stats
import numpy as np

%matplotlib inline
import seaborn as sns

In [8]:
data = pd.read_csv("/home/jeffrey/Desktop/inspectionResults.csv")

In [11]:
data.shape

(384157, 18)

In [ ]:
# Questions for office hours:
    # 1. Scope of project - what kinds of questions/how difficult should they be?
    # 
    #
    # 2. What kinds of specific skills do you want to see used in project?
    #
    #
    # 3. Do you have to include the OS.path.join stuff?.
    #
    #
    # 4. We talked about deleting rows and columns with the any / all command
    # - is there a way to delete entries if CERTAIN cells are NaN?
    #
    #
    # 5. How to convert a Date column from object into int64?
    #
    #
    # 6. How to convert floats to int for entire column?

In [20]:
data.head()

,CAMIS,DBA,BORO,BUILDING,STREET,ZIPCODE,PHONE,CUISINE DESCRIPTION,INSPECTION DATE,ACTION,VIOLATION CODE,VIOLATION DESCRIPTION,CRITICAL FLAG,SCORE,GRADE,GRADE DATE,RECORD DATE,INSPECTION TYPE
0,41644539,ST MAZIE,BROOKLYN,345,GRAND STREET,11211.0,7183844807,American,03/24/2016,Violations were cited in the following area(s).,22C,"Bulb not shielded or shatterproof, in areas wh...",Not Critical,NaN,NaN,NaN,02/11/2018,Administrative Miscellaneous / Initial Inspection
1,50033398,MAYA CUISINE,QUEENS,2442,STEINWAY ST,11103.0,7187773118,Mediterranean,03/08/2016,Violations were cited in the following area(s).,16B,The original nutritional fact labels and/or in...,Not Critical,NaN,NaN,NaN,02/11/2018,Trans Fat / Re-inspection
2,50047690,KIRSH BAKERY AND KITCHEN,MANHATTAN,551,AMSTERDAM AVE,10024.0,2129511123,American,08/04/2016,Violations were cited in the following area(s).,06E,"Sanitized equipment or utensil, including in-u...",Critical,23.0,NaN,NaN,02/11/2018,Cycle Inspection / Initial Inspection
3,41709719,MARKET PLACE (CENTERPLATE),MANHATTAN,655,WEST 34 STREET,10001.0,2122162426,American,05/06/2015,Violations were cited in the following area(s).,10H,Proper sanitization not provided for utensil w...,Not Critical,16.0,NaN,NaN,02/11/2018,Cycle Inspection / Initial Inspection
4,41671730,TONY'S PIZZERIA,BROOKLYN,7623,13 AVENUE,11228.0,7186216966,Pizza/Italian,02/10/2015,Violations were cited in the following area(s).,04J,Appropriately scaled metal stem-type thermomet...,Critical,20.0,NaN,NaN,02/11/2018,Cycle Inspection / Initial Inspection

In [18]:
data.dtypes

CAMIS                      int64
DBA                       object
BORO                      object
BUILDING                  object
STREET                    object
ZIPCODE                  float64
PHONE                     object
CUISINE DESCRIPTION       object
INSPECTION DATE           object
ACTION                    object
VIOLATION CODE            object
VIOLATION DESCRIPTION     object
CRITICAL FLAG             object
SCORE                    float64
GRADE                     object
GRADE DATE                object
RECORD DATE               object
INSPECTION TYPE           object
dtype: object